.main-header1{
  background-color: #f5f5f5;
  color: #007bff;
  font-weight: bold;
  border: 5px solid #f1f1f1;
  // position: absolute;
  top: 7vw;
  /* transform: translate(-50%, -50%); */
  // width: 80%;
  padding: 1vw;
  text-align: center;
  .header-custom1{
    // font-style: italic;
    font-size: 2.5em;
    line-height: 1.5;
  }
}
.head-details{
  display: flex;
  flex-direction: column;
  margin: 7% 5% 0 5%;
}

.top-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.sub-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.sub-top1{
  background-color: rgb(243, 243, 243);
  padding: 2%;
}

.divide{
  margin-right: 3rem;
}
.left-right{
  @extend .top-detail;
  justify-content: space-around;
}

.label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;

}

.title-bold{
  font-size: large;
  font-weight: bold;
}

.fdb{
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 2% 2%;
}

.totalemp{
  display: flex;
  gap: 2rem;
  padding: 1% 2% 2% 2%;
}

.fdb-ans{
  width: 70%;
  padding: 1rem;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  border-left: 6px solid  rgb(136, 136, 136);
}

.tab{
  margin:0 auto;
  padding: 2%;
  column-gap: 1rem;
}

th{
  font-size: 17px;
  font-weight: bold;
  width: 150px;
  text-align: center;
  padding: 5px;
}
td{
  font-size: 15px;
  width: 150px;
  text-align: center;
  padding: 10px 5px;
}

tr:nth-child(even) {
  background-color: #d3eafa;
}

.comment-box1{
  margin: 2% 7% 2% 7%;
}

.middle{
  text-align: center;
  padding-top: 0.5rem;
}

.center{
  text-align: center;
  font-weight: bold;
}
.button-width{
  margin-left: 2rem;
  width: 15%;
}
.col-foot{
  background-color:#f5f5f5;
  margin-top: 1rem;
}

.green{
  // background-color: rgb(177, 177, 177);

}

.border-box-comment{
  font-size: 20px;
  margin: 0 6rem 0 6rem;
  padding:0.5rem;
  border: 2px solid black;
  border-radius: 6px;
  border-color: rgb(128, 128, 128);
}
