<!-- Component:-  Side Navigation Baar -->
<div class="side-bar">
  <a [routerLink]="'home'">  <!-- Adding router Links to DashBoard -->
      <div class="home">
          House
      </div>
  </a>
  <a [routerLink]="'billingDetails'">    <!-- Adding router Links to Issue Page -->
      <div class="billing-details">
          Billing Details
      </div>
  </a>
  <a> <!-- Adding router Links to Create Page -->
      <div class="responses">
          Responses
      </div>
  </a>
  <a> <!-- Adding router Links to Create Page -->
    <div class="new-project">
        New Project
    </div>
  </a>
  <a> <!-- Adding router Links to Create Page -->
    <div class="client-payment">
        Client Payment
    </div>
  </a>
</div>
