<div class="card text-center">
  <div class="card-body">
    <div class="row1">
      <label class="main-label">Project:</label>
      <p class="main-desc">{{info.projectName}}</p>
    </div>
    <div class="row1">
      <label class="main-label">Client:</label>
      <p class="main-desc">{{info.clientName}}</p>
    </div>
    <div class="payment-details">
      <div class="row2">
        <label class="main-label">Lead ID</label>
        <p class="main-desc left">{{info.teamLeadID}}</p>
      </div>
      <div class="row2">
        <label class="main-label">Lead Name</label>
        <p class="main-desc right">{{info.teamLeadname}}</p>
      </div>
    </div>
    <a href="#" class="btn btn-danger">View Feedback</a>
    <p class="main-desc reminder">Total Reminder: {{info.teamLeadReminder}}</p>
  </div>
</div>
