<div class="login-background">

</div>

<div class="login-page">
  <div class= "img-container">
    <div class="company-logo">
       <img src="../../assets/images/new-01.png " alt="Hashedin Logo">
    </div>
  </div>
  <div class="Login-Details">
    <div class="Welcome-bar">
      Hello!! Hasher
    </div>
    <div class="Welcome-mini-bar">
      <span>Welcome To Finance Administration Page</span>
      <span><img src="../../assets/images/goodbye.png"></span>
    </div>
    <button type="submit" class="SignIn-btn"  (click)="signInWithGoogle()">SignIn with Google </button>
  </div>
</div>
